language: ruby
rvm:
  - 2.0.0
  - 2.3.0
before_install: gem install bundler -v 1.11.2
script: rubocop -D && bundle exec rspec
addons:
  code_climate:
    repo_token: 905e0dd5ba043366250b9ddaf662dd6e1fab6b97b492b11c7a4cd8501877279f
